<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Log In</title>
		 <link href="https://fonts.googleapis.com/css?family=Lobster|Varela+Round&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="signup/singup.css">
</head>
<body>




  <div class="bg"></div>
  <div class="modal"> 
    <div class="card">
    <form action="/signup" method="post">
      <div class="title">Sign up</div>
      <div class="input-group">
        <input type="text" name="name" placeholder="Name"/>
      </div>
      <div class="input-group">
        <input type="text" name="gender"  placeholder ="Gender"/>
       
      </div>
      <div class="input-group">
        <input type="email" name="email"  placeholder ="email"/>
       
      </div>
      <div class="input-group">
        <input type="text" name ="password" placeholder="password"/>
      </div><br>
       
      
        <a class="submit"><input type="submit" value="signup"></a>
      </form>
    </div>
  </div>
</form>
</body>
</html>